@import url('https://fonts.googleapis.com/css?family=Russo+One');

.head {
		position: relative;
		top:20%;
		text-align:center;
		font-family: 'Russo One', sans-serif;
		font-size:64px;
	}

.options {
		text-align:center;
	}

.button {
    background-color: Transparent;
    border-color: #EEEEEE;
    border-width: thin;
    border-radius: 4px;
    color: #EEEEEE;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    outline:none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
